<div class="container">
  <div class="col-sm-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">NO KTP</th>
        <th scope="col">NAMA</th>
        <th scope="col">ALAMAT</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let anggota of anggotaList, let i=index">
        <td scope="col">{{i + 1}}</td>
        <td scope="col">{{anggota.nomor_ktp}}</td>
        <td scope="col">{{anggota.nama}}</td>
        <td scope="col">{{anggota.alamat}}</td>
        <td scope="col"><button class="btn btn-info" (click)="onEdit(anggota.id)"  >Edit</button></td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
